# requirements.txt
Flask>=2.0
python-telegram-bot[ext]>=20.0
beautifulsoup4>=4.9
aiohttp[speedups]>=3.7
selenium>=4.0
webdriver-manager>=3.5
APScheduler>=3.8
Hypercorn>=0.13
requests
pytz
Werkzeug>=2.0
# Добавим python-dotenv для чтения .env файла
python-dotenv>=0.19